body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

header, main, aside, footer {
    padding: 15px;
}

header, footer {
    text-align: center;
    background-color:#9f1ae2;
}

.sidebar-content {
    background-color: #9f1ae2;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contenido,img {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: auto;
}

